@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    background-color: hsl(0, 0%, 98%);
}
.text{
    text-align: center;
    margin: 5em 0 5em 0;
}
.thin{
    font-weight: 200;
    font-size: 37px;
    color: hsl(234, 12%, 34%);
}
.bold{
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 0.6em;
    color: hsl(234, 12%, 34%);
}
.par{
    display: inline-block;
    width: 550px;
    color: hsl(229, 6%, 66%);
}
.cardwrap{
    height: 495px;
}
.card1{
    width: 370px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 15px 20px hsla(229, 6%, 66%, 0.336);
    border-top: 5px solid hsl(0, 78%, 62%);
}
.card2{
    width: 370px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 15px 20px hsla(229, 6%, 66%, 0.336);
    border-top: 5px solid hsl(34, 97%, 64%);
}
.card3{
    width: 370px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 15px 20px hsla(229, 6%, 66%, 0.336);
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card4{
    width: 370px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 15px 20px hsla(229, 6%, 66%, 0.336);
    border-top: 5px solid hsl(212, 86%, 64%);
}
.redcards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 370px;
    height: 460px;
    gap: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.bluecards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1400px;
    gap: 200px;
    height: 230px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-items: center;
    top: 51%;
}
.title1, .title2, .title3, .title4{
    position: absolute;
    font-size: 26px;
    color: hsl(234, 12%, 34%);
}
.title1{
    top: 7%;
    left: 10%;
}
.title2{
    top: 67%;
    left: 10%;
}
.title3{
    top: 12%;
    left: 10%;
}
.title4{
    top: 12%;
    left: 68%;
}
.label1, .label2, .label3, .label4{
    position: absolute;
    width: 290px;
    color: hsl(229, 6%, 66%);
}
.label1{
    position: absolute;
    top: 18%;
    left: 10%;
    width: 290px;
    font-size: 15px;
}
.label2{
    position: absolute;
    top: 78%;
    left: 10%;
}
.label3{
    position: absolute;
    top: 35%;
    left: 10%;
}
.label4{
    position: absolute;
    top: 35%;
    left: 68%;
}
.icon, .icon2, .icon3, .icon4{
    position: relative;
    top: 65%;
    left: 75%;
    height: 50px;
}
.white{
    display: none;
}

@media screen and (max-width: 1300px){
    body{
        overflow-x: hidden;
    }
    .cardwrap{
        display: grid;
        justify-content: center;
        width: 100vw;
    }
    .redcards{
        display: grid;
        position: relative;
        width: 370px;
        height: 507px;
    }
    .bluecards{
        display: grid;
        position: relative;
        justify-content: center;
        gap: 0em;
        width: 370px;
        grid-template-areas:
        "c"
        "d";
    }
    .card3{
        grid-area: c;
    }
    .label4, .title4{
        position: relative;
        display: inline-block;
    }
    .title4{
        left: 9%;   
    }
    .label4{
        left: 9%;
        top: 10%;
    }
    .card3{
        margin-bottom: 2em;
        margin-top: -5.2em;
    }
    .card4{
        grid-area: d;
    }
    .title2, .label2{
        position: relative;
    }
    .title2{
        top: 10%;
    }
    .label2{
        top: 18%;
    }
    .title3, .label3{
        position: relative;
    }
    .label3{
        top: 19%;
    }
    .icon2, .icon3{
        top: 27%;
    }
    .icon4{
        position: relative;
        left: -4%;
        height: 50px;
        width: 50px;
        top: 50%;
    }
    .white{
        display: block;
        height: 2em;
        width: 100vw;
        margin-top: 37em;
    }
    .par{
        width: 370px;
    }
    .bold, .thin{
        font-size: 30px;
    }
    .thin{
        margin-top: -1em;
    }
}